h1{
    color:white;
    font-weight:100;
}

.browse-main{
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color:whitesmoke;
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),url('../img/mit.jpg') no-repeat fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size: cover;
  -o-background-size:cover;
  min-height: 1000px;
  background-position: center;
}

/* navbar */
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: black;
}
.navbar-custom .navbar-toggle {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 500;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: white;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
  color: white;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 0px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: black;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}


/* thumbnail */
.thumbnail{
    position: relative;
    padding-bottom: 70%;
    background-color: #eee;
    background-size: cover;
    background-position: center center;
}

.info-wrapper{
  padding-bottom:20px;
  color:black;
}

@media (min-width: 768px)
.col-sm-6{
    width: 50%;
}

.meal-img{
  position: relative;
  padding-bottom: 70%;
  background-color: #eee;
  background-size: cover;
  background-position: center center;
}

.info-main{
  border-color: #eee;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 3px 0 #eee;
  background-color:white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.info-main a{
  font-size: 20px;
  font-weight: 100;
  color:black;
}

.search-bar {
    padding-top: 7px;
    width: 25%;
}

.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
}
.overflow {
    height: 2em;
  
  /**
   * Required properties to achieve text-overflow
   */
    overflow: hidden;
}

hr{
  margin-top:10px;
  margin-bottom:5px;
}

.navbar-nav{
  cursor:pointer;
}