


body{
  content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url('../img/cuttingboard.jpg') no-repeat fixed;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.login-container.login{
  max-width:350px;
  padding: 40px 40px;
}

.btn{
  font-weight:700;
  height:44px;
  -moz-user-select:none;
  -webkit-user-select: none;
  user-select: none;
  cursor:default;
  color: white;
  background-color:#1E90FF;
  border-color: white;
  border: 1px solid;
}

.login{
  background-color:#F7F7F7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 130px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.4);
  box-shadow: 0 2px 2px rgba(0,0,0,0.4);
}

.login-image{
  width:96px;
  height:96px;
  margin: 0 auto 10px;
  display:block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.login-name{
  font-size:16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0;
  min-height: 1em;
}

.reauth-email{
  display:block;
  color: #404040;
  line-height: 2;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.signup #userName, .signup #Password{
  direction:ltr;
  height:44px;
  font-size:16px;
  width:100%;
  display:block;
  margin-bottom:10px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
}

.signup input[type-username],
.signup input[type-password],
.signup input[type-text],
.signup button{
  width:100%;
  display:block;
  margin-bottom:10px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
}

.signup .form-control:focus{
  border-color: rgb(104,145,162);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(104,145,162);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(104,145,162);
}

.btn .btn-signin{
  background-color: rgb(104,145,162);
  padding: 0px;
  font-weight: 700;
  font-size: 12px;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border:none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0218s;
}

.btn.btn-sign:hover,
.btn.btn-sign:active,
.btn.btn-sign:focus{
  background-color:rgb(30,144,255);
}

.form-group{
    margin-bottom:10px;
    text-align: left;
    font-size: 20px;
}

a{
  color:white;
}

.signup-page p{
  margin-left: 12px;
  color:black;
  align-self: center;
  font-size: 15px;
  margin-bottom: 5px;
}
.signup-page a{
  margin-left: 70px;
  color:black;
  align-self: center;
  font-size: 10px;

}